In [ ]:
%%bash
jupyter nbconvert --execute ./testproj/target/notebooks/model.testproj.my_first_dbt_model.ipynb

In [ ]:
%%bash
jupyter nbconvert --execute ./testproj/target/notebooks/model.testproj.my_second_dbt_model.ipynb